<!DOCTYPE html>
<html>
<head>
  <title> Date </title>
</head>
  <body>

      <% date = DateTime.now %>
      <%converted_date = date.strftime("%A, %B %d, %Y")%>
      <p>
        <%="The date is #{converted_date}"%>
      </p>

  </body>
</html>
